/app/bootstrap*
/app/config/parameters.yml
/app/sessions
/nbproject/
/vendor/
/web/bundles/
/web/js/*
!/web/js/ace-extra.min.js
/web/css/


/app/import/*
!/app/import/config.json.default
!/app/import/default/
!/app/import/img/
/web/favicon.ico

.idea/
/atoum/
/behat/
/var/*
/bin/*
/elasticsearch/
!bin/console
!bin/symfony_requirements
!bin/build_parameters
!bin/hosts
!bin/pre-commit

prod.sql
prod.sql.gz
data.tar.gz

docker-compose-prod.yml
save.tar
.kgcomdev/
/.htaccess
make-dump.sh
/dump.sql
/vars.reg
/vars.sh
