{# src/KGC/DashboardBundle/Resources/views/Config/statistics.html.twig #}

{% extends "KGCDashboardBundle::layout.html.twig" %}

{% block ariane %}
    {% set fil = ['Réglages'] %}
    {{ parent() }}
{% endblock %}

{% block page_header %}
    {% set infos = { 'titre':'Réglages','desc':'Statistiques'} %}
    {% set reload = { 'url':'#config_statistics' } %}
    {{ parent()}}
{% endblock %}

{% block dashboard_body %}
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{{ path('kgc_config_statistic_rendering_rule_list') }}" class="ajax_load" id="config_statistic_rendering_rules"></form>
        </div>
    </div>
{% endblock %}
