{# src/KGC/RdvBundle/Resources/views/Encaissement/unbalanced.widget.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::widgetlayout.html.twig' %}
        
        {% use 'KGCRdvBundle::listefichesRDV.html.twig' %}
        
        {% set widget_options = {
            'titre' : 'Consultations dont le montant nʼest pas intégralement planifié - <b>'~consults|length~' résultats</b>',
            'header_class' : 'widget-header-small header-color-purple',
            'refresh' : '#rdv_unbalanced',
            'collapse' : true,
            'collapsed' : true,
            'no_padding' : true,
        } %}

        {% block widget_main %}
            {% set actions = {
                1 : {
                    'color' : 'purple'
                }
            } %}
            {% set fiches = consults %}
            {{ fiches|length > 0 ? block('tableau_fiches') : '<table class="table"><tr><td>Aucun résultat</td></tr><table>' }}
        {% endblock %}
    {% endembed %}
{% endblock body %}
