{% extends "KGCDashboardBundle::layout.html.twig" %}

{% block ariane %}
    {% set fil = ['Administration'] %}
    {{ parent() }}
{% endblock %}

{% block page_header %}
    {% set infos = { 'titre':'Statistiques Impayés','desc':''} %}
    {% set reload = { 'url':'#admin_stats_unpaid' } %}
    {{ parent()}}
{% endblock %}

{% block dashboard_body %}
    <form method="post" action="{{ path('kgc_stat_admin_unpaid') }}" class="ajax_load" id="admin_stats_unpaid"></form>
{% endblock %}
